body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Background for entire animation */
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fireworks {
    z-index: 1; /* Back layer */
}

.flower {
    z-index: 5; /* Middle layer */
}

.heart {
    z-index: 10; /* Front layer */
}

.cat {
    z-index: 15;
}

.content {
    border: none;
    width: 100%;
    height: 100%;
}
